@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FiraGO";
  src: url("/fonts/FiraGO/FiraGO-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("/fonts/FiraGO/FiraGO-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
